// Global variables
@import "modules/variables.scss";

// Lib
@import "lib/slick";
@import "lib/slick-theme";
@import "lib/aos";
@import "lib/lity";

// Reset and general styling
@import "partials/base.scss";
@import "partials/tools.scss";
@import "partials/typography.scss";
@import "partials/inputs.scss";
@import "partials/buttons.scss";
@import "partials/styling.scss";

// Component specific styling
@import "partials/components/header";
@import "partials/components/not-found";
@import "partials/components/footer";
@import "partials/components/mobile-nav";

// Gutenberg
@import "partials/components/gutenberg/hero";
@import "partials/components/gutenberg/text-image";
@import "partials/components/gutenberg/text";
@import "partials/components/gutenberg/projects";
@import "partials/components/gutenberg/municipalities";
@import "partials/components/gutenberg/people";
@import "partials/components/gutenberg/posts";
@import "partials/components/gutenberg/gallery";
