section.gallery {
    overflow: hidden;

    .content {
        max-width: 800px;
        text-align: center;
        margin: 0 auto 40px auto;

        > *:last-child {
            margin-bottom: 0;
        }
    }

    .slick-list {
        overflow: visible;
    }

    .slider .slide {
        margin: 0 10px;
        height: 400px;
        width: auto;
        border-radius: $radius-mid;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}

@media only screen and (max-width: 991px) {
    section.gallery {
        .slider .slide {
            height: 250px;
        }
    }
}
