section.hero {
    position: relative;
    height: 80vh;
    max-height: 800px;
    padding-top: 150px;

    .image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .logo    {
            width: 60%;
        }
    }
}

@media only screen and (max-width: 991px) {
    section.hero {
        padding-top: 60px;
        max-height: 600px;
    }
}
