section.hero {
    position: relative;
    height: 80vh;
    max-height: 900px;
    padding-top: 150px;

    &.single-post-hero {
        height: auto;

        .content {
            padding: 40px;
            background: $green;
            color: $white;
            border-radius: 10px;
            max-width: 800px;
            margin: 0 auto;
            margin-top: 80px;

            a {
                color: $white;
            }

            h1,
            h2 {
                color: $white;

            }

            > *:last-child {
                margin-bottom: 0;
            }
        }
    }

    .image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .logo {
            width: 60%;
        }
    }
}

@media only screen and (max-width: 991px) {
    section.hero {
        padding-top: 60px;
        max-height: 600px;

        &.single-post-hero .content {
            padding: 20px;
        }
    }
}
