section.posts {
    .content {
        max-width: 800px;
        text-align: center;
        margin: 0 auto 40px auto;

        > *:last-child {
            margin-bottom: 0;
        }
    }
}

.post-grid {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -10px;

    .single-post {
        width: calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
        flex-basis: calc(33.333% - 20px);
        margin: 10px;
        border-radius: 10px;
        text-decoration: none;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        color: $text;
        font-weight: 400;

        .btn {
            width: 100%;
            display: flex;
        }

        .image {
            position: relative;
            display: block;
            border-radius: 10px 10px 0 0 ;
            flex-grow: 0;
            flex-shrink: 0;
            overflow: hidden;

            &:before {
                content: '';
                padding-top: 56.25%;
                display: block;
            }

            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transition: all 0.3s ease-in-out;
            }
        }

        .post-content {
            padding: 30px;
            background: $grey;
            flex-grow: 1;
            flex-shrink: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            .btn {
                margin-top: auto;
            }

            > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    section.posts .content {
        margin-bottom: 20px;
    }

    .post-grid .single-post .content {
        padding: 25px !important;
    }

    .post-grid .single-post  {
        width: calc(50% - 20px);
        max-width: calc(50% - 20px);
        flex-basis: calc(50% - 20px);
    }
}

@media only screen and (max-width: 600px) {
    .post-grid {
        display: block;
        margin: 0;

        .single-post {
            width: 100% !important;
            max-width: 100% !important;
            flex-basis: 100% !important;
            margin: 0 0 20px 0 !important;

            &:last-child {
                margin-bottom: 0 !important;
            }
        }
    }
}
