section.projects {
    .content {
        max-width: 800px;
        text-align: center;
        margin: 0 auto;

        > *:last-child {
            margin-bottom: 0;
        }
    }

    .projects-grid {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        margin: 40px -20px -20px -20px;

        > * {
            width: calc(25% - 40px);
            max-width: calc(25% - 40px);
            flex-basis: calc(25% - 40px);
            margin: 20px;
            text-align: center;

            &:hover,
            &:focus {
                .image img {
                    width: 110%;
                    height: 110%;
                }
            }

            .image {
                display: block;
                position: relative;
                border-radius: 20px;
                overflow: hidden;
                margin-bottom: 20px;

                &:before {
                    content: '';
                    padding-top: 125%;
                    display: block;
                }

                img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 101%;
                    height: 101%;
                    object-fit: cover;
                    object-position: center;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    section.projects .projects-grid > * {
        width: calc(50% - 40px);
        max-width: calc(50% - 40px);
        flex-basis: calc(50% - 40px);
    }
}

@media only screen and (max-width: 600px) {
    section.projects .projects-grid {
        display: block;
        margin: 40px 0 0 0;

        > * {
            width: 100%;
            max-width: 100%;
            flex-basis: 100%;
            margin: 0 0 20px 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
