section.text {
    &.center .content {
        text-align: center;
    }

    .content {
        max-width: 800px;
        margin: 0 auto;

        > *:last-child {
            margin-bottom: 0;
        }

        .share {
            opacity: .75;
            font-size: .9rem;
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid rgba(0,0,0,0.1);
        }
    }
}

@media only screen and (max-width: 991px) {
    section.text,
    section.text.center {
        .content {
            text-align: left;
        }
    }
}
