section.text {
    &.center .content {
        text-align: center;
    }

    .content {
        max-width: 800px;
        margin: 0 auto;

        > *:last-child {
            margin-bottom: 0;
        }
    }
}

@media only screen and (max-width: 991px) {
    section.text,
    section.text.center {
        .content {
            text-align: left;
        }
    }
}
