.btn,
button[type=submit]:not(.dgwt-wcas-search-submit),
input[type=submit] {
    appearance: none;
    -webkit-appearance: none;
    display: inline-flex;
    background-color: $light-green !important;
    color: $black !important;
    font-weight: 700 !important;
    font-size: 1rem;
    padding: 10px 20px !important;
    font-family: $font-body;
    line-height: 1.5;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer !important;
    outline: none;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;

    &.green {
        background: $green !important;
        border-color: $green !important;

        &:hover,
        &:focus {
            background: $black !important;
            color: $white !important;
            border-color: $black !important;
        }
    }
}

.btn-ghost {
    appearance: none;
    -webkit-appearance: none;
    display: inline-flex;
    background-color: transparent !important;
    color: $text !important;
    font-weight: 500 !important;
    font-size: 1rem;
    padding: 10px 20px !important;
    font-family: $font-body;
    line-height: 1.6;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border: 1px solid $text;
    transition: all 0.3s ease-in-out;

    &.small {
        padding: 5px 15px !important;
    }
}

.buttons {
    &.center * {
        margin: 0 5px 10px 5px;
    }

    * {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
