#wpadminbar {
    display: none;

    #wp-admin-bar-customize,
    #wp-admin-bar-updates,
    #wp-admin-bar-comments,
    #wp-admin-bar-new-content,
    #wp-admin-bar-woocommerce-site-visibility-badge,
    #wp-admin-bar-rank-math,
    #wp-admin-bar-wp-logo {
        display: none !important;
    }

    #wp-admin-bar-my-account a {
        font-size: 0;

        .display-name {
            font-size: 13px;
        }
    }
}

@media only screen and (min-width: 1200px) {
    #wpadminbar {
        display: block !important;
    }

    .admin-bar {
        header.header {
            top: 32px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    html {
        margin: 0 !important;
    }
}

.scrolled header.header {
    height: 80px;
    background: $white;

    .flex-wrapper {
        height: 80px;

        .logo {
            height: 50px;
        }

        > div ul li {
            &.current-menu-item,
            &.current_page_item {
                a {
                    border-color: $text;
                }
            }

            a {
                color: $text;

                &:hover,
                &:focus {
                    border-color: $text;
                }
            }
        }
    }
}

header.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 150px;
    z-index: 150;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in-out;

    .container {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .flex-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 150px;
        transition: all 0.3s ease-in-out;

        .logo {
            display: block;
            height: 125px;
            margin-right: 40px;
            font-size: 0;
            transition: all 0.3s ease-in-out;

            img {
                display: block;
                height: 100%;
            }
        }

        > div {
            margin-left: auto;

            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    display: inline-block;
                    position: relative;
                    cursor: pointer;
                    margin: 0 15px;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                        padding-right: 0;
                        border: none;
                    }

                    a {
                        display: block;
                        z-index: 5;
                        font-weight: 700;
                        font-size: 1rem;
                        color: $light-green;
                        position: relative;
                        font-family: $font-body;
                        vertical-align: middle;
                        padding: 2px 5px;
                        border: 1px solid rgba(201, 217, 111, 0);
                        border-radius: 5px;
                        transition: all 0.3s ease-in-out;

                        &:hover,
                        &:focus {
                            border: 1px solid rgba(201, 217, 111, .5);
                        }
                    }

                    &.current-menu-item,
                    &.current_page_item {
                        a {
                            border: 1px solid rgba(201, 217, 111, .5);

                        }
                    }

                    &.menu-item-has-children {
                        position: relative;

                        &:hover,
                        &:focus {
                            > .sub-menu {
                                opacity: 1;
                                pointer-events: all;
                            }
                        }

                        > a {
                            padding-right: 25px;

                            &:before {
                                @extend .icon-font;
                                content: '\e90f';
                                position: absolute;
                                right: 0;
                                font-size: 0.5rem;
                                top: 50%;
                                opacity: .5;
                                transform: translateY(-50%);
                                width: 20px;
                                transition: transform 0.3s ease-in-out;
                            }
                        }

                        &.open {
                            > a {
                                &:after {
                                    opacity: 1;
                                }
                            }

                            > ul {
                                opacity: 1;
                                pointer-events: all;
                            }
                        }

                        ul {
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            top: 100%;
                            background: $white;
                            width: 350px;
                            opacity: 0;
                            transition: opacity 0.3s ease-in-out;
                            pointer-events: none;
                            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
                            border-radius: 10px;
                            display: block;
                            padding: 20px;
                            z-index: 10;
                            margin: 0;

                            li {
                                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                                padding: 10px 0 !important;

                                &:first-child {
                                    padding-top: 0 !important;
                                }

                                &:last-child {
                                    border: none;
                                    padding-bottom: 0 !important;
                                }
                            }

                            li,
                            a {
                                display: block;
                                height: auto;
                                margin: 0;
                                padding: 0;
                                font-weight: 500;
                                line-height: 1.5;
                                color: black;

                                &:hover,
                                &:focus {
                                    color: $green;
                                }

                                .label {
                                    margin-left: auto;
                                }

                                &:after {
                                    content: none;
                                }

                                &.menu-item-has-children a:before {
                                    right: 0;
                                }
                            }

                            a {
                                display: flex;
                                transition: all 0.3s ease-in-out;
                            }

                            li.menu-item-has-children {
                                .label {
                                    margin-right: 10px;
                                }

                                a {
                                    &:hover,
                                    &:focus {
                                        + ul {
                                            opacity: 1;
                                            pointer-events: all;
                                        }
                                    }

                                    &:before {
                                        top: 50%;
                                    }
                                }

                                ul {
                                    left: auto;
                                    right: 100%;
                                    top: 0;
                                    transform: none;

                                    .label {
                                        margin-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    header.header {
        .logo {
            height: 50px !important;
        }
    }
}

@media only screen and (max-width: 991px) {
    header.header,
    .scrolled header.header {
        height: 60px;

        .flex-wrapper {
            height: 60px;

            > div {
                display: none;
            }
        }
    }
}
