// Gutters
$gutter-small: 20px;
$gutter: 40px;
$gutter-large: 80px;

// Fonts
$font-titles: 'Kinetika', sans-serif;
$font-body: 'Kinetika', sans-serif;
$font-pixel: "Pixelify Sans", sans-serif;

// Borders
$radius-small: 8px;
$radius-mid: 30px;
$radius-large: 60px;

// Colors
$text: #2B2F36;
$blue: #003182;
$dark-blue: #043E44;
$grey: #EFEFEE;
$light-green: #C9D96F;
$green: #1B5522;
$white: #ffffff;
$black: #000;
